body {
  margin: 0;
  border: 0;
  scroll-behavior: auto;
}
.nav {
  margin: 2;
  border: 2px solid black;
  font-family: sans-serif;
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.nav h1 {
  right: 50%;
  text-transform: uppercase;
  cursor: default;
}
.list {
  position: absolute;
  left: 70%;
  margin: 0;
  display: flex;
}
.list ul {
  display: flex;
  left: 50%;
  list-style: none;
  padding: 1em;
}
.list ul li {
  margin: 5 10px;
  padding: 10px;
  width: 7em;
  border: 1em;
  transition: 0.5s;
}
.list ul li a {
  width: 7em;
  border: 1em;
  text-decoration: none;
  font-size: 1.25em;
}
.list ul li:hover,
.list ul li a:hover {
  width: 10em;
  background: chartreuse;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
