body {
  margin: 0;
  border: 0;
  scroll-behavior: auto;
}
.nav {
  margin: 2;
  border: 2px solid black;
  font-family: sans-serif;
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.nav h1 {
  right: 50%;
  text-transform: uppercase;
  cursor: default;
}
.list {
  position: absolute;
  left: 70%;
  margin: 0;
  display: flex;
}
.list ul {
  display: flex;
  left: 50%;
  list-style: none;
  padding: 1em;
}
.list ul li {
  margin: 5 10px;
  padding: 10px;
  width: 7em;
  border: 1em;
  transition: 0.5s;
}
.list ul li a {
  width: 7em;
  border: 1em;
  text-decoration: none;
  font-size: 1.25em;
}
.list ul li:hover,
.list ul li a:hover {
  width: 10em;
  background: chartreuse;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.box {
  width: 300px;
  padding: 30px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0);
  text-align: center;
}
.box h1 {
  color: blue;
  text-transform: uppercase;
  font-weight: 700;
}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid blue;
  padding: 14px 10px;
  width: 220px;
  outline: none;
  color: blue;
  border-radius: 24px;
  transition: 0.5s;
}
.box input[type="text"]:hover {
  width: 270px;
  color: orange;
}
.box input[type="password"]:hover {
  width: 270px;
  color: orange;
}
.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid blue;
  padding: 14px 10px;
  width: 220px;
  outline: none;
  color: blue;
  border-radius: 24px;
  transition: 0.5s;
  cursor: pointer;
}
.box input[type="submit"]:hover {
  background: orange;
}
